# __pycache__ e arquivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribuição e build
build/
develop-eggs/
dist/
*.egg-info/

# Downloads e arquivos temporários
downloads/
*.log

# Ambiente virtual (caso o crie localmente)
venv/
.env

# Configurações de IDE
.vscode/
.idea/
